<h2>Países</h2>
<hr>
<ul class="list-group">
    <!-- <li role="button" routerLink="" class="list-group-item" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}">
        Home Page
    </li>
    <li role="button" routerLink="about" class="list-group-item" routerLinkActive="active">
        About Page
    </li>
    <li role="button" routerLink="contact" class="list-group-item" routerLinkActive="active">
        Contact Page
    </li> -->
    <li role="button" routerLink="countries/by-capital" class="list-group-item" routerLinkActive="active">
        Por Capital
    </li>
    <li role="button" routerLink="countries/by-country" class="list-group-item" routerLinkActive="active">
        Por Pais
    </li>
    <li role="button" routerLink="countries/by-region" class="list-group-item" routerLinkActive="active">
        Por Region
    </li>
</ul>